HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
"lastmile-system/src/main/resources/lastmile-delivery-d60a3-firebase-adminsdk-fbsvc-ab4a71f042.json" 
"src/main/resources/lastmile-delivery-d60a3-firebase-adminsdk-fbsvc-ab4a71f042.json" 
"src/main/resources/lastmile-delivery-d60a3-firebase-adminsdk-fbsvc-ab4a71f042.json" 
